/**
 *
 * -------------------------------------------
 * Template stuff CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 7. Template additional features styles
 *
 *
------------------------------------ */

/* 7.1. Breadcrumbs & font-size
==================================== */
 
#gk-breadcrumb-area {
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	padding: 10px 0;
} 
 
.gk-breadcrumbs {
	float: left;
	font-size: 14px;
} 

.gk-breadcrumbs > a:first-child:before {
	display: none;
}

.gk-breadcrumbs > a:before,
.gk-breadcrumbs > span:before {
	color: #ddd;
	content: " / ";
	font-weight: normal;
	padding: 0 5px;
}

.gk-breadcrumbs > span {
	color: #777;
}

#gk-font-size {
	float: right;
}

#gk-font-size > a {
	margin-left: 5px;
}
 
/* 7.2. Contact page template
==================================== */

#gk-contact {
	margin: 0;
	max-width: 540px;
	overflow: hidden;
	width: 100%;
}

#gk-contact dd {
	margin: 5px 0;
	padding: 0;
}

#gk-contact span.error {
	color: #dd514c;
}

.contactpage .gk-contact-error,
.contactpage .gk-contact-thanks {
	background: #4c90fe;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	margin: 30px 0;
	max-width: 520px;
	padding: 10px;
	text-align: center;
	width: 100%;
}

.contactpage .gk-contact-error {
	background: #fe654c;
}

.contactpage input[type="text"],
.contactpage textarea {
	width: 100%;
}

.contactpage input[type="submit"] {
	float: right;
	margin: 0;
}

/* 7.3. Page 404 template 
==================================== */ 

.page404 > p:first-child {
	font-size: 150%;
	padding: 20px 0;
	text-align: center;
}

.page404 > p:first-child > small {
	display: block;
	font-size: 85%;
	text-align: center;
}

.page404 label[for="s"] {
	display: none;
}

.page404 form {
	margin: 10px 0 30px 0;
	text-align: center;
}

.page404 > div {
	clear: both;
	overflow: hidden;
}

.page404 .widget {
	float: left;
	margin: 0 2%;
	width: 46%;
}

.page404 #searchsubmit {
	display: inline-block;
	float: none!important;
	vertical-align: middle;
}
/* 7.4. Archive page template
==================================== */

.archivepage .widget h2 {
	font-size: 26px;
	margin-bottom: 20px;
}

.archivepage .widget {
    float: left;
    margin: 0 2%;
    width: 29%;
}

.archivepage .widget.first {
    margin-left: 0;
    width: 31%;
}

.archivepage .widget.last {
    margin-right: 0;
    width: 31%;
}

.archivepage .widget li:before {
    display: none;
}

.archivepage .widget.first li {
    position: relative;
}

.archivepage .widget.first li a {
    display: block;
    padding-left: 54px;
}

.archivepage .widget li small {
    color: #aaa;
    font-size: 11px;
    left: 0;
    position: absolute;
    top: 12px;
}

/* 7.5. Tag cloud template
==================================== */

.tagcloud .tag-cloud {
	border-top: 1px solid #e5e5e5;
	margin: 20px 0;
	padding: 10px 0;
}

.tagcloud .tag-cloud a {
	font-weight: 400;
	padding: 0 10px;
	vertical-align: middle;
}

/* 7.6. Login page template
==================================== */

.loginpage #loginform {
	margin: 0 auto;
	overflow: hidden;
	width: 240px;
}

.loginpage input[type="text"],
.loginpage input[type="password"] {
	clear: both;
	width: 240px;
}

.loginpage p label {
	display: block;
}

.loginpage .login-remember {
	float: left;
}

.loginpage .login-submit {
	float: right;
	margin: 10px 0;
}

.loginpage .login-submit input[type="submit"] {
	margin: 0;
}

.loginpage nav.small {
	border-top: 1px solid #eee;
	clear: both;
	margin: 10px auto;
	padding: 10px 0;
	width: 240px;
}

.loginpage nav.small ul {
	margin: 0;
}

.loginpage nav.small ul li {
	float: left;
	margin-right: 10px;
	padding-left: 0;
}

.loginpage nav.small ul li:before {
	display: none;
}

/* 7.7. Post formats header
==================================== */

header hgroup h2 {
	margin: 0;
	padding: 11px 0 10px 0;
}

.gk-format-aside,
.gk-format-audio,
.gk-format-chat,
.gk-format-gallery,
.gk-format-image,
.gk-format-link,
.gk-format-quote,
.gk-format-status,
.gk-format-video {
	background: #fff url('../images/post_formats/format-aside.png') no-repeat center center;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	height: 28px;
	float: none;
	margin: 12px auto!important;
	padding: 6px;
	text-indent: -9999px;
	width: 28px;
}

.gk-format-audio { 
	background: #fff url('../images/post_formats/format-audio.png') no-repeat center center;
}

.gk-format-chat { 
	background: #fff url('../images/post_formats/format-chat.png') no-repeat center center;
}

.gk-format-gallery { 
	background: #fff url('../images/post_formats/format-gallery.png') no-repeat center center;
}

.gk-format-image { 
	background: #fff url('../images/post_formats/format-image.png') no-repeat center center;
}

.gk-format-link { 
	background: #fff url('../images/post_formats/format-link.png') no-repeat center center;
}

.gk-format-quote { 
	background: #fff url('../images/post_formats/format-quote.png') no-repeat center center;
}

.gk-format-status { 
	background: #fff url('../images/post_formats/format-status.png') no-repeat center center;
}

.gk-format-video { 
	background: #fff url('../images/post_formats/format-video.png') no-repeat center center;
}

/* 7.8. Page navigation
==================================== */

.pagenav {
	margin: 20px 0 10px 0;
	overflow: hidden;
}

.pagenav .nav-prev {
	float: left;
}

.pagenav .nav-next {
	float: right;
}

/* 7.9. Author info
==================================== */

.author-info {
	background: #fafafa;
	border: 1px solid #f4f4f4;
	clear: both;
	margin: 0 0 34px 0;
	min-height: 48px;
	overflow: hidden;
	padding: 24px;
	position: relative;
}

#gk-social-api + .author-info {
	margin-top: 72px;
}

.author-info > aside {
	left: 20px;
	position: absolute;
	top: 20px;
}

.author-info img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	margin-top: 6px;
}

.author-info > div {
	padding: 0 0 0 110px;
}

.author-info h2 {
	font-size: 18px;
	margin: 0 0 6px 0;
}

.author-info .author-desc {
	font-size: 14px;
	line-height: 20px;
}

/* 7.10. Post custom fields
==================================== */

.content dl.post-fields {
	border-top: 1px solid #eee;
	line-height: 1.6;
	margin: 10px 0;
	padding: 0;
}

.content dl.post-fields dt {
	border-top: 1px solid #eee;
	font-weight: bold;
	line-height: 1.5;
	margin: 10px 0 0 0;
	padding: 10px 0;
}

.content dl.post-fields dt:first-child {
	border-top: none;
} 

.content dl.post-fields dd {
	margin: 0;
	padding: 5px 0;
}

/* 7.11. oEmbed support
==================================== */

/* YouTube, Vimeo - responsive support */
.content iframe[src^='http://www.youtube.com'],
.content iframe[src^='https://www.youtube.com'],
.content iframe[src^='http://youtube.com'],
.content iframe[src^='https://youtube.com'],
.content iframe[src*='vimeo.com'] {
	max-width: 100%!important;
}

/* Twitter - responsive support */
.content .twitter-tweet-rendered {
	max-width: 100%!important;
}

/* Flickr - responsive support */
.content a[href^='http://www.flickr.com'],
.content a[href^='https://www.flickr.com'],
.content a[href^='http://flickr.com'],
.content a[href^='https://flickr.com'] {
	max-width: 100%!important;
}


/* 7.12. Attachment page
==================================== */

.attachment-page p {
	clear: both;
	padding: 30px 0 0 0;
}

.attachment-page .nav-prev {
	float: left;
}

.attachment-page .nav-next {
	float: right;
}

.attachment-page .intro {
	overflow: hidden;
	padding: 0 0 30px 0;
}

/* 7.13. Search page
==================================== */

.search-page #searchform {
	padding: 40px 0;
	text-align: center;
}

.search-page #searchform input[type="submit"] {
	display: inline-block;
	float: none;
}

.search-page .page-title {
	font-size: 32px;
	text-align: center;
}

/* 7.14. Thickbox styling
==================================== */

body #TB_load,
body #TB_window {
	border: none!important;
	background: transparent!important;
}

body #TB_window {
	background: #000!important;
}

body #TB_title {
	display: none;
}

/* 7.15. Demo content
==================================== */

/* Header form */
.imageBg #gk-header-mod {
	clear: both;
	color: #fff;
	padding: 180px 0 130px 0;
	text-align: center;
}

.imageBg #gk-header-mod h1,
.imageBg.frontpage .imageBg h1 {
	color: #fff;
	font-size: 52px;
	font-weight: 400;
	letter-spacing: -3px;
	line-height: 56px;
	margin: 0;
	padding: 0;
}

.imageBg #gk-header-mod h2,
.imageBg.frontpage .imageBg h2 {
	color: #fff;
	clear: both;
	font-size: 22px;
	font-weight: 300;
	line-height: 56px;
	margin-bottom: 0;
}

.imageBg #gk-header-mod .gk-form,
.imageBg.frontpage .imageBg .gk-form {
	background: rgba(255, 255, 255, .12);
	border: 1px solid rgba(255, 255, 255, .23);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	margin: 50px 0 65px 0;
	padding: 10px 10px 7px 10px;
}

.imageBg #gk-header-mod input[type="email"],
.imageBg.frontpage .imageBg input[type="email"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: none!important;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #999;
	display: inline-block;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	height: 68px;
	margin: 0!important;
	padding: 0 30px;
	position: relative;
	top: -3px;
	width: 456px;
}
.imageBg #gk-header-mod input[type="email"]::-webkit-input-placeholder,
.imageBg.frontpage .imageBg input[type="email"]::-webkit-input-placeholder {
    color: #999;
    font-size: 20px;
    font-style: italic;
}
.imageBg #gk-header-mod input[type="email"]:-moz-placeholder,
.imageBg.frontpage .imageBg input[type="email"]:-moz-placeholder {
    color: #999;
    font-size: 20px;
    font-style: italic;
}
.imageBg #gk-header-mod input[type="email"]::-moz-placeholder,
.imageBg.frontpage .imageBg input[type="email"]::-moz-placeholder { 
    color: #999;
    font-size: 20px;
    font-style: italic;
}
.imageBg #gk-header-mod input[type="email"]:-ms-input-placeholder,
.imageBg.frontpage .imageBg input[type="email"]:-ms-input-placeholder {
    color: #999;
    font-size: 20px;
    font-style: italic;
}
.imageBg #gk-header-mod input[type="submit"],
.imageBg.frontpage .imageBg input[type="submit"] {
	background: #4c90fe;
	border: none!important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	float: none;
	font-size: 26px;
	font-weight: 400;
	height: 68px;
	margin: 0 0 0 10px;
	padding: 0 30px;
}

.imageBg #gk-header-mod input[type="submit"]:active,
.imageBg #gk-header-mod input[type="submit"]:focus,
.imageBg #gk-header-mod input[type="submit"]:hover,
.imageBg.frontpage .imageBg input[type="submit"]:active,
.imageBg.frontpage .imageBg input[type="submit"]:focus,
.imageBg.frontpage .imageBg input[type="submit"]:hover {
	background: #fec54c;
}

.imageBg #gk-header-mod .gk-video-link,
.imageBg.frontpage .imageBg .gk-video-link {
	background: transparent url('../images/gk_video_link.png') no-repeat 0 center;
	color: #fff!important;
	display: inline-block;
	font-size: 24px;
	height: 44px;
	line-height: 44px;
	padding: 0 0 0 75px;
	-webkit-transition: background-position .2s ease-out, color .2s ease-out!important;
	-moz-transition: background-position .2s ease-out, color .2s ease-out!important;
	-ms-transition: background-position .2s ease-out, color .2s ease-out!important;
	-o-transition: background-position .2s ease-out, color .2s ease-out!important;
	transition: background-position .2s ease-out, color .2s ease-out!important;
}

.imageBg #gk-header-mod .gk-video-link:hover,
.imageBg.frontpage .imageBg .gk-video-link:hover {
	background-position: 10px center;
	color: #fec54c!important;
}

.imageBg #gk-header-mod p,
.imageBg.frontpage .imageBg p {
	margin: 0;
}


/* 
 * Special Typography elements 
 */

/* Area with button */
.gk-button-area {
	margin: 0 auto;
	max-width: 780px;
	padding: 0;
}
.gk-button-area h3 {
	float: left;
	font-size: 28px;
	font-weight: 300;
	line-height: 30px;
}
.gk-button-area h3 small {
	clear: both;
	color: #999;
	display: block;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 32px;
}
.gk-button-area a {
	background: #fec54d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-size: 18px;
	font-weight: 600;	
	height: 54px;
	line-height: 55px;
	padding: 0 50px;
	-webkit-transition: background .3s ease-out;
	-moz-transition: background .3s ease-out;
	-ms-transition: background .3s ease-out;
	-o-transition: background .3s ease-out;
	transition: background .3s ease-out;
}
.gk-button-area a:active,
.gk-button-area a:focus,
.gk-button-area a:hover {
	background: #4c90fe;
	color: #fff;
}

/* Horizontal slide */
.gk-horizontal-slide {
	clear: both;
}
.gk-horizontal-slide-left-column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 120px 0 0 0;
	width: 38%;
}
.gk-horizontal-slide-left-column h2 {
	color: #333;
	font-size: 28px;
	font-weight: 300;
	line-height: 38px;
	margin-bottom: 40px;	
}
.gk-horizontal-slide-left-column p {
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
}
.gk-horizontal-slide-left-column a.btn {
	background: #4c90fe;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	font-size: 18px;
	height: 54px;
	line-height: 55px;
	margin-top: 20px;
	padding: 0 36px;
}
.gk-horizontal-slide-left-column a.btn:active,
.gk-horizontal-slide-left-column a.btn:focus,
.gk-horizontal-slide-left-column a.btn:hover {
	background: #fec54c;
}
.gk-horizontal-slide-right-column {
	border-right: 1px solid #ddd;
	float: right;
	margin: 0 0 -170px 0;
	overflow: hidden;
	padding: 50px 0 60px 0;
	width: 60%;
}
.gk-horizontal-slide-right-column img {
	display: block;
	margin-left: 100%;
	max-width: 100%;
	-webkit-transition: margin-left .6s ease;
	-moz-transition: margin-left .6s ease;
	-ms-transition: margin-left .6s ease;
	-o-transition: margin-left .6s ease;
	transition: margin-left .6s ease;
}
.gk-horizontal-slide-right-column.loaded img {
	margin-left: 0;
}

/* Suffix layered */
.box.layered {
	margin: -40px 0!important;
	overflow: hidden;
	padding: 200px 0 90px!important;
	position: relative;
}
.box.layered .gk-text-block {
	max-width: 500px;
	position: relative;
	z-index: 2;
}
.box.layered .gk-text-block h2 {
	font-size: 42px;
	font-weight: 400;
	line-height: 48px;
	margin-bottom: 30px;
}
.box.layered .gk-text-block p {
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	margin-bottom: 30px;
}
.box.layered .gk-image-block {
	left: 0;
	position: absolute;
	top: -400px;
	-webkit-transition: top .6s ease;
	-moz-transition: top .6s ease;
	-ms-transition: top .6s ease;
	-o-transition: top .6s ease;
	transition: top .6s ease;
	z-index: 1;
}
.box.layered.loaded .gk-image-block {
	top: 0;
}

/* Testimonials */
.gk-testimonials {
	margin: 30px -50px 0 -50px;
}
.gk-testimonials > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 50px;
	width: 33.3%;
}
.gk-testimonials figure {
	text-align: center;
}
.gk-testimonials figure img {
	border: 28px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin: 0 auto -75px auto;
}
.gk-testimonials figcaption {
	background: transparent url('../images/testimonial_quote.png') no-repeat right bottom;
	border-top: 1px solid #ddd;
	padding: 66px 0 18px 0;
	text-align: left;
}
.gk-testimonials figcaption q {
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
}

/* Price Table */
.gk-price-table {
	padding: 60px 0 48px 0;
	width: 100%!important;
}
.gk-price-table::after {
	clear: both;
	content: "";
	display: table;
}
.gk-price-table.col1 dl {
	width: 100%;
}
.gk-price-table.col2 dl {
	float: left;
	width: 50%;
}
.gk-price-table.col3 dl {
	float: left;
	width: 33.3%;
}
.gk-price-table.col4 dl {
	float: left;
	width: 25%;
}
.gk-price-table.col5 dl {
	float: left;
	width: 20%;
}
.gk-price-table dl {
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: -1px;
	padding: 25px;
}
.gk-price-table.gk-white dl {
	background: #f8f8f8;
}
.gk-price-table dt {
	border-bottom: 1px solid #ddd;
	font-size: 27px;
	font-weight: 400;
	line-height: 65px;
	margin-top: -20px;
	text-align: center;
}
.gk-price-table dd {
	font-size: 16px;
	font-weight: 36px;
	margin: 0;
	padding: 8px 0;
	text-align: center;
}
.gk-price-table dd a {
	background: #4c90fe;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;	
	height: 54px;
	line-height: 55px;
	margin: 20px auto;
	padding: 0 50px;
	-webkit-transition: background .3s ease-out;
	-moz-transition: background .3s ease-out;
	-ms-transition: background .3s ease-out;
	-o-transition: background .3s ease-out;
	transition: background .3s ease-out;	
}
.gk-price-table dd a:active,
.gk-price-table dd a:focus,
.gk-price-table dd a:hover,
.gk-price-table .gk-premium dd a {
	background: #fec54d;
}
.gk-price-table .gk-premium dd a:active,
.gk-price-table .gk-premium dd a:focus,
.gk-price-table .gk-premium dd a:hover {
	background: #fff;
	color: #777;
}
.gk-price-table dd.gk-price {
	color: #fec54d;
	font-size: 68px;
	font-weight: 600;
}
.gk-price-table dd.gk-price small {
	color: #999;
	font-size: 16px;
	font-weight: 300;
}
.gk-price-table dl.gk-premium {
	background: #4c90fe;
	margin: -34px -10px 0 -10px;
	position: relative;
	z-index: 1;
}
.gk-price-table dl.gk-premium dt {
	border-bottom: 1px solid #80b1ff; 
	color: #fff;
}
.gk-price-table dl.gk-premium dd,
.gk-price-table dl.gk-premium dd.gk-price small {
	color: #fff;
}
.gk-price-table dl.gk-premium dd.gk-price {
	font-size: 90px;
}
.gk-price-table dl.gk-premium dd {
	font-weight: 400;
	margin: 0;
	padding: 10px 0;
}
.gk-price-table-animated dl {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform .6s ease;
	-moz-transition: -moz-transform .6s ease;
	-ms-transition: -ms-transform .6s ease;
	-o-transition: -o-transform .6s ease;
	transition: transform .6s ease;
}
.gk-price-table-animated dl.loaded {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
}
/* Disclaimer */
.gk-disclaimer {
	color: #999;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}
.gk-disclaimer strong {
	color: #fec54c;
	font-size: 25px;
	font-weight: 600;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

/* Icons */
.gk-icons {
	margin: 70px 0 0 0;
}
.gk-icons > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 10px;
	width: 33.3%;
}
.gk-icons > div h2 {
	font-size: 28px;
	font-weight: 300;
	line-height: 38px;
	margin-bottom: 22px;
	text-align: center;
}
.gk-icons > div p {
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}
.gk-icon-area {
	background: transparent url('../images/icon_borders.png') no-repeat 0 0;
	height: 270px;
	margin: 0 auto 40px auto;
	position: relative;
	width: 270px;
}
.gk-icon-area > a {
	height: 126px;
	left: 50%;
	margin: -63px 0 0 -63px;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
	-webkit-transition: all .3s ease-out!important;
	-moz-transition: all .3s ease-out!important;
	-ms-transition: all .3s ease-out!important;
	-o-transition: all .3s ease-out!important;
	transition: all .3s ease-out!important;
	width: 126px;
}
.gk-crop {
	background-color: #fff;
	background-image: url('../images/style1/gkcrop.png');
	background-position: center top;
}
.gk-crop:hover {
	background-color: #fe654c;
	background-position: center bottom;
}
.gk-rocket {
	background-color: #fff;
	background-image: url('../images/style1/gkrocket.png');
	background-position: center top;
}
.gk-rocket:hover {
	background-color: #4c90fe;
	background-position: center bottom;
}
.gk-mobile {
	background-color: #fff;
	background-image: url('../images/style1/gkmobile.png');
	background-position: center top;
}
.gk-mobile:hover {
	background-color: #fec54c;
	background-position: center bottom;
}

/* 7.16. Tables
==================================== */

article section table {
	margin: 10px 0;
}

article section table th {
	background: #eee;
	padding: 0 4px;
	text-align: left;
}

article section table td {
	padding: 0 4px;
}

article section table:not(.woocommerce) tbody tr:nth-child(2n), {
	background: #f5f5f5;
}

article section table td span.gk-table-label {
	display: none;
}