/**
 *
 * -------------------------------------------
 * Template CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 5. Wordpress elements styling
 *
 *
------------------------------------ */
 
/* 5.1. Main menu
==================================== */ 

#main-menu-mobile {
	display: none;
}
 
#main-menu {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}

.imageBg #main-menu,
.imageBg.frontpage #main-menu {
	margin: 11px 0 0 0;
}

#main-menu,
#gk-menu-wrap #main-menu {
	margin-top: 0;
}

#main-menu > li {
	clear: none!important;
	float: left;
	font-size: 14px;
	font-weight: 600;
	height: 70px;
	line-height: 70px;
	text-transform: uppercase;
	width: auto;
}

#main-menu > li > a,
.imageBg #gk-menu-wrap #main-menu > li > a {
	color: #333;
	display: block;
	height: 70px;
	line-height: 70px;
	padding: 0 13px;
}

.imageBg #main-menu > li > a {
	color: #fff;
}

.imageBg #main-menu > li > a {
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
}

#main-menu > li > a:hover,
#main-menu > li.current-menu-item,
#main-menu > li.current_page_item,
#main-menu > li:hover,
#main-menu > li.active > a,
#main-menu > li.current-menu-item > a,
#main-menu > li.current_page_item > a,
#main-menu > li.current-menu-ancestor > a, 
#main-menu > li.current-menu-parent > a  {
	color: #fec54c;
}

/* Submenu */
#main-menu .sub-menu {
	background: #fff;
	-webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, .26);
	-moz-box-shadow: 0 5px 6px rgba(0, 0, 0, .26);
	box-shadow: 0 5px 6px rgba(0, 0, 0, .26);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: -999em;
	margin-top: 0;
	text-transform: none;
	width: 220px;
	z-index: 999;
}

#main-menu li:hover .sub-menu {
	left: auto;
}

#main-menu .sub-menu li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	margin: 0;
	padding: 0 20px;  
	-webkit-transition: background .2s ease-out;
	-moz-transition: background .2s ease-out;
	-ms-transition: background .2s ease-out;
	-o-transition: background .2s ease-out;
	transition: background .2s ease-out;
}

#main-menu .sub-menu li:hover {
	background: #fec54c;
}

#main-menu .sub-menu li:hover > a {
	border-top-color: #fec54c;
	color: #fff;
}

#main-menu .sub-menu li:hover + li > a {
	border-top-color: #fff;
}

#main-menu .sub-menu li:first-child > a { 
	border: none;
}

#main-menu .sub-menu li:hover > a {
	color: #fff;	
	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-ms-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	transition: color .2s ease-out;
}

#main-menu .sub-menu a {
	border-top: 1px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #555;
	display: block;
	padding: 7px 0; 
}

#main-menu .sub-menu li:hover > a,
#main-menu .sub-menu li > a:active,
#main-menu .sub-menu li > a:focus,
#main-menu .sub-menu li > a:hover {
	color: #fff!important;
	text-decoration: none;
}

#main-menu .sub-menu .sub-menu {
	left: -9999px!important;
	margin-left: 160px;
	margin-top: -35px!important;
}

#main-menu .sub-menu li:hover .sub-menu {
	left: auto!important;
}

/* Menu wrap */
#gk-menu-wrap {
	background: #fff;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .26);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, .26);
	box-shadow: 0 0 6px rgba(0, 0, 0, .26);
	height: 70px;
	left: 0;
	position: fixed;
	-webkit-transition: top .2s ease-out;
	-moz-transition: top .2s ease-out;
	-ms-transition: top .2s ease-out;
	-o-transition: top .2s ease-out;
	transition: top .2s ease-out;
	top: -100px;
	width: 100%;
	z-index: 1001;
}
#gk-menu-wrap.active {
	top: 0;
}
#gk-head.gk-no-menu {
	padding-top: 70px;
}
#gk-menu-wrap #main-menu a:hover,
#gk-menu-wrap #main-menu a:active,
#gk-menu-wrap #main-menu a:focus,
#gk-menu-wrap #main-menu li.active > a,
#gk-menu-wrap #main-menu > ul > li.active > a {
	color: #fec54c;
}
#gk-menu-wrap #main-menu ul li:hover > a {
	color: #fff!important;
}
 
/* If admin bar is enabled */ 
.admin-bar #gk-menu-wrap.active {
	top: 28px;
}
.admin-bar #gk-head.gk-no-menu {
	padding-top: 70px;
}
 
/* 5.2. Comments
==================================== */

#comments.nocomments {
	border-top: none;
}

#commentform p {
	margin-bottom: 0;
}

#comments > h2:first-child {
	border-top: 1px solid #e5e5e5;
	font-size: 38px;
	font-weight: 300;
	padding: 60px 0 0;
}

#comments > nav {
	margin: 12px 0;
	overflow: hidden;
}

#comments > nav .nav-prev {
	float: left;
}

#comments > nav .nav-next {
	float: right;
}

#comments > ol {
	list-style-type: none;
	padding: 0;
}

#comments > ol > li:first-child > article {
	border-top: none;
}

#comments ol.children {
	list-style-type: none;
	margin-left: 5%;
	padding: 0;
}

#comments li {
	border: none;
	margin: 0;
	padding: 0;
}

#comments li article {
	border-top: 1px solid #e5e5e5;
	margin: 24px 0 0;
	padding: 24px 0 0;
	position: relative;
}

#comments li article > aside {
	left: 0;
	position: absolute;
	top: 20px;
}

#comments li article > aside img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 10px 0 0;
}

#comments li article > .content {
	margin: 0 0 0 80px;
	padding: 10px;
}

#comments li article > .content p {
	margin: 0;
}

#comments article time {
	color: #999;
	font-size: 13px;
}

#comments article .author {
	color: #363636;
	font-size: 17px;
	font-weight: 600;
	margin-right: 16px;
}

#comments article .author > a {
	color: #363636;
}

#comments article header {
	line-height: 1.0;
	margin-bottom: 16px;
}

#comments article header .edit-link,
#comments article header .reply {
	float: right;
	font-size: 13px;
	margin-left: 10px;
}

#comments em.awaiting-moderation {
	color: #a33;
	display: block;
	font-size: 14px;
	margin: 0 0 12px 0;
	text-align: center;
}

#comments .bypostauthor {}

/* Comments typography */
#comments li article abbr[title],
#comments li article acronym[title] {
	border-bottom: 1px dotted;
}

#comments li article code {
	background: #fafafa;
	border-left: 4px solid #eee;
	display: block;
	margin: 10px 0;
	padding: 10px 20px; 
	white-space: pre;
}

#comments li article blockquote {
	background: #fafafa;
	border: 2px solid #eee;
	border-left: none;
	border-right: none;
	display: block;
	margin: 10px 0;
	padding: 10px; 
	position: relative;
}

#comments li article blockquote p {
	margin: 0;
}

#comments li article q {
	color: #888;
	font-weight: bold;
}

#comments li article strike {
	text-decoration: line-through;
}

#comments li article del {
	color: #aaa;
	text-decoration: line-through;
}

/* Comment form */
#respond {
	padding: 12px 0;
}

#respond > h3 {
	border-top: 1px solid #e5e5e5;
	font-size: 38px;
	font-weight: 300;
	padding: 60px 0 0;
}

#respond p.comment-notes,
#respond p.logged-in-as,
#respond p.form-allowed-tags {
	font-size: 11px;
	color: #999
}

#respond input,
#respond textarea {
	display: block;
}

#respond input[type="checkbox"] {
	display: inline-block;
}

#respond input[type="text"],
#respond input[type="password"],
#respond textarea {
	width: 100%;
}

#respond #reply-title small {
	float: right;
	font-size: 14px;
	text-transform: none;
}

/* 5.3. Post meta-data
==================================== */

.content > form input[type="submit"] {
	display: inline-block;
	float: none;
}

#gk-mainbody > article {
	min-height: 230px;
}

#gk-mainbody article > header h1,
#gk-mainbody article > header h2 {
	clear: both;
	font-size: 44px;
	font-weight: 300;
}

#gk-mainbody article > header {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 32px;
	width: 100%;
}

article {
	padding-left: 160px;
	position: relative;
}

article.no-sidebar,
.page-template:not(.page-template-template-latest-php) article,
article.attachment-page {
	padding-left: 0;
}

article header ul {
	list-style-type: none;
	margin: 6px 0;
	overflow: hidden;
}

article header ul li {
	float: left;
	font-size: 15px;
	list-style-type: none;
	margin: 0 12px 0 4px!important;
	padding: 0;
}

article header ul li::before {
	display: none;
}

article.no-title,
article.page-fullwidth {
	padding-left: 0;
}

section#comments {
	margin-left: 160px;
}

article.no-sidebar + section#comments,
article.attachment-page + section#comments {
	margin-left: 0;
}

article.no-title + section#comments,
article.page-fullwidth + section#comments {
	margin-left: 0;
}

article > footer::after,
#gk-social-api::after,
#respond p.form-submit:after {
    clear: both;
    content: "";
    display: table;
}

aside.meta {
	background: #f8f8f8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	font-size: 13px;
	left: 0;
	padding: 15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 120px;
}

aside.meta > a > img {	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

aside.meta ul li {
	margin: 0 0 22px;
}

aside.meta p {
	color: #333;
	font-weight: 400;
	margin: 0 0 2px;
}

aside.meta a {
	color: #848484!important;
}

aside.meta li.bookmark a {
	color: #333!important;
	font-weight: 400;
}

aside.meta li.bookmark a:active,
aside.meta li.bookmark a:focus,
aside.meta li.bookmark a:hover {
	color: #848484!important;
}

aside.meta a:active,
aside.meta a:focus,
aside.meta a:hover {
	color: #333!important;
}

/* Social API */

#gk-social-api {
	border-top: 1px solid #e5e5e5;
	clear: both;
	margin: 16px 0;
	padding: 16px 0 0 0;
}

#gk-social-api > * {
	display: block;
	float: left!important;
	min-height: 33px;
	margin-right: 5px!important;
}

#gk-social-api > a {
	min-height: inherit!important;
}

/* 5.4. Post additional features
==================================== */

article header h1 sup,
article.sticky header h1 sup,
article header h2 sup,
article.sticky header h2 sup {
	background: #fe654c;
	color: #fff;
	display: block;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.6;
	padding: 6px 16px;
	position: absolute;
	right: 0;
	top: 0;
	text-transform: uppercase;
}

article figure.featured-image img {	
	clear: none;
	display: block;
	line-height: 0;
	margin: 0 0 40px;
	overflow: hidden;
}

article figure.featured-image img + figcaption {
	color: #bbb;
	font-size: 12px;
	margin: -45px 0 15px 0;
	padding: 10px 0;
	text-align: right;
}

.alignnone {
	float: none;
}

.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}

.alignright {
	float: right;
	margin: 0 0 15px 15px;
}

.aligncenter {
	display: block;
	float: none;
	margin: 0 auto;
}

div.wp-caption {
	max-width: 100%!important;
}

.wp-caption-text {
	font-size: 11px;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
}

.gallery {
	clear: both;
	padding: 16px 0;
}

.gallery-caption {
	font-size: 14px;
}

.gallery-icon img {
	border: none!important;
}

/* 5.5. wp-activate.php and wp-signup.php pages
==================================== */

/* wp-activate.php */

#activateform {
	margin: 0 auto;
	max-width: 500px;
}

#activateform #key,
#activateform #submit {
	font-size: inherit!important;
}

/* wp-signup.php */
.mu_register {
	margin: 20px auto!important;
	max-width: 500px;
}

.mu_register input[type="submit"], 
.mu_register #blog_title, 
.mu_register #user_email, 
.mu_register #blogname, 
.mu_register #user_name {
	font-size: inherit!important;  
}

.mu_register label {
	font-size: inherit!important;
}
