/**
 *
 * -------------------------------------------
 * WP Extensions CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 8. Additional WP extensions styles
 *
 *
------------------------------------ */

/* 8.1. Archives widget
==================================== */

.widget_archive li {
	border: none!important;
	color: #ccc;
	font-size: 11px;
	padding: 2px 0;
}

.widget_archive li a {
	color: #848484;
	font-size: 16px;
	line-height: 32px;
	padding-right: 4px;
}

.widget_archive li a:active,
.widget_archive li a:focus,
.widget_archive li a:hover {
	color: #4c90fe;
}

/* 8.2. Custom menu widget
==================================== */

/* 8.3. Pages widget
==================================== */

/* 8.4. RSS widget
==================================== */

.box h3.box-title .rsswidget {
	clear: none;
	float: left;
	font-size: 20px;
	margin-right: 10px;
}

.box .rsswidget {
	clear: both;
	display: block;
	font-size: 16px;
	margin-top: 20px;
}

.box .rss-date {
	clear: both;
	display: block;
	font-size: 14px;
	font-style: italic;
	margin-top: -10px;
	text-align: right;
}

.box .rssSummary {
	clear: both;
	color: #888;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.widget_rss cite {
	font-size: 14px;
}

/* 8.5. Text widget
==================================== */

#gk-header .box.widget_text {
	padding: 0!important;
}

#gk-header .box.widget_text img {
	height: auto;
	max-width: 100%;
}

/* 8.6. Calendar widget
==================================== */

.box #wp-calendar {
	background: #fff;
	width: 100%;
}

.box #wp-calendar caption {
	background: #fff;
	border: 1px solid #eee;
	font-size: 13px;
	font-weight: normal;
	padding: 5px 0;
}

.box #wp-calendar th {
	background: #333;
	color: #fff;
	font-weight: normal;
	padding: 5px 0;
}

.box #wp-calendar td {
	border: 1px solid #eee;
	padding: 5px 0;
	text-align: center;
}

.box #wp-calendar td a {
	font-weight: bold;
}


/* 8.7. Links widget
==================================== */

.box ul.xoxo a {
	display: block;
	font-size: 12px;
	line-height: 20px;
}

.box ul.xoxo a img {
	vertical-align: middle;
}

.box ul.xoxo li {
	font-size: 10px;
	padding: 5px 0;
}

/* 8.8. Recent comments widget
==================================== */

/* 8.9. Search widget
==================================== */
 
.box #searchform label,
.box #searchform #searchsubmit {
	display: none;
}

.box #searchform .field {
	width: 100%;
}
 
/* 8.10. Categories widget
==================================== */

/* 8.11. Meta widget
==================================== */

/* 8.12. Recent posts widget
==================================== */

/* 8.13. Tag cloud widget
==================================== */

.box.tags .tagcloud {
	overflow: hidden;
}

.box.tags .tagcloud a {
	display: block;
	float: left;
	font-size: 16px!important;
	margin: 6px 12px 6px 0;
}

/* 8.14. Common widget styles
==================================== */

/* Modules */
.box {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 25px;
}

.box ul {
	list-style-type: none;
	margin: 0;
}

.box ul li {
	line-height: 2.0;
	padding: 5px 0;
}

.box .box-title {
	color: #333;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	padding: 0 0 25px 0;
}

.box .box-title em {
	color: #fec54c;
	font-style: normal;
}

#gk-sidebar .box {
	padding: 0 0 10px 0;
}

/* Style advertisement */
.box.advertisement .box-title {
	background: transparent;
	border-bottom: 1px solid #e5e5e5;
	color: #ccc!important;
	font-size: 11px!important;
	font-weight: 300;
	margin: 0 0 12px 0;
	min-height: 21px;
	padding: 0;
	text-align: right;
	text-transform: uppercase;
	line-height: 16px;
	font-family: Arial,Verdana,sans-serif!important;
}

/* Style pagetitle */
.box.pagetitle h1 {
	font-size: 36px;
	font-weight: 400;
	margin: 20px 0 0 0!important;
	padding: 10px 0 40px 0;
}

.box.pagetitle h1 small {
	clear: both;
	color: #999;
	display: block;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	margin: 10px 0 0 0;
}

/* Style centered */
.box.centered {
	margin: 0!important;
	padding: 50px 0!important;
}

#gk-mainbody .box.centered {
	margin-bottom: -20px!important;
	padding-top: 90px!important;
}

.box.centered .box-title {
	font-size: 42px;
	font-weight: 400;
	line-height: 44px;
	padding-bottom: 15px;
	text-align: center;
}

.gk-centered {
	clear: both;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

/* Style testimonials */
.box.testimonials {
	overflow: hidden;
}

/* Style nomargin */
.box.nomargin {
	margin: 0!important;
}

/* Style light */
.box.light {
	background: #f8f8f8;
	padding: 20px!important;
}

/* Style dark */
.box.dark {
	background: #333!important;
	color: #999;
	padding: 20px!important;
}

.box.dark .box-title {
	background: transparent!important;
	line-height: 1.2;
}

.box.dark h1,
.box.dark h2,
.box.dark h3,
.box.dark h4,
.box.dark h5,
.box.dark h6 {
	color: #ddd;
}

.box.dark ul {
	margin: 0;
	padding: 0;
}

.box.dark ul li {
	border-top: 1px solid #555;
	position: relative;
}

.box.dark ul li:first-child {
	border-top: none;
}

.box.dark a {
	color: #ddd!important;
}

.box.dark a:active,
.box.dark a:focus,
.box.dark a:hover {
	color: #fec54c!important;
}

.box.dark ul ul {
	margin: 0 0 0 20px;
}

/* Style menu */
.box.menu ul ul {
	margin-left: 0
}
.box.menu li {
	background: url('../images/style1/typography/bullet3.png') no-repeat 0 13px;
	border-bottom: none!important;	
	border-top: none!important;
	padding: 0 0 0 30px;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.box.menu li:hover { 
	background-position: 100% center; 
	padding: 0;
}
.box.menu .header + .content ul li:first-child {
	border-top: none;
}
.box.menu li a {
	color: #848484;
	display: inline-block;
	padding: 3px 0;
}
.box.menu li a:active,
.box.menu li a:focus,
.box.menu li a:hover {
	color: #4c90fe;
}