/* GK News Show Pro */

.gk-nsp-col {
	border-right: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	padding: 0 10px 0 0;
	width: 40%;
}

.gk-nsp-col + .gk-nsp-col {
	border-right: none;
	padding: 0 0 0 10px;
	width: 60%;
}

hr.clear {
	border: none;
	border-top: 3px solid #ddd;
	clear: both;
	display: block;
}

.gk-nsp-col input.short {
	width: 32px;
}

.gk-nsp-col input.medium {
	width: 72px;
}

.gk-nsp-col input.long {
	width: 120px;
}

.gk-nsp-col .gk-indent {
	padding-left: 72px!important;
}

.gk-nsp-col + .gk-nsp-col p > label:first-child {
	display: inline-block;
	min-width: 72px;
	text-align: right;
}

.gk-nsp-col + .gk-nsp-col p.gk-indent > label:first-child {
	text-align: left;
}

.gk-nsp-col .gk-right {
	float: right;
}

.gk-nsp-col textarea {
	width: 100%;
}

.gk-nsp-col h3 {
	border-top: 1px solid #ddd;
	margin: 0;
	padding: 10px 0;
}

.gk-nsp-col h3:first-child {
	border-top: none;
	padding: 0 0 10px 0;
}

/* GK News Gallery */
.gk-nsp-col.gk-ng-col {
	border-right: none;
	float: none;
	padding: 0 0 10px 0;
	width: 100%;
}

/* WP 3.8,3.9 back-end adjustments */
body.branch-3-8 .gk-nsp-col,
body.branch-3-8 .gk-nsp-col + .gk-nsp-col,
body.branch-3-9 .gk-nsp-col,
body.branch-3-9 .gk-nsp-col + .gk-nsp-col {
	padding-top: 12px;
}

body.wp-admin.branch-3-8 .gk-nsp-col select,
body.wp-admin.branch-3-9 .gk-nsp-col select {
	font-size: 12px;
}

body.wp-admin.branch-3-8 .gk-nsp-col input.short,
body.wp-admin.branch-3-9 .gk-nsp-col input.short {
	width: 35px;
}

@media screen and (max-width: 782px) {
	body.wp-admin.branch-3-8 #wpbody .gk-nsp-col select,
	body.wp-admin.branch-3-9 #wpbody .gk-nsp-col select  {
		font-size: 11px;
		height: 28px;
	}
	
	body.wp-admin.branch-3-8 .gk-nsp-col input,
	body.wp-admin.branch-3-9 .gk-nsp-col input {
		padding: 3px 5px;
	}
}